.vvv{
    margin-top: 41px;

}
.cbb{
  display:inline-flex;
    padding-right: 80px;
}

  .cc{


    margin-top: -12px;
    margin-left: -820px;
  }

  .az{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 1201px;
  }
  .ccc{


    margin-top: -21px;
    margin-left: -453px;
  }
  .bbb{
    width: 1555px;
    margin-left: 415px;
    height: 180px;
    margin-top: 146px;
  }