.ty{
    width: 900px;
    margin-left: 490px;
  
    padding: 16px 20px;
    border: none;
    border-radius: 6px;
    background-color: #f1f1f1;
    font-size: 27px;
}
.izz{

    
    position: absolute;
    z-index: 1;
}
.dii{

    
    margin-left: 978px;
    width: 180px;
    height: 729px;
    margin-top: -319px;

}
.pp4{


    margin-left: -81px;
  
    font-size: 59px;
}
.ppp{



}